/* General */

@font-face {
    font-family: 'AngieLove';
    src: url('../fonts/angela-love-font-duo/AngelaLoveSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;    
}
/* @font-face {
    font-family: 'AngieLoveOutline';
    src: url('../fonts/angela-love-font-duo/AngelaLoveSansOutline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */


.secTitle {
    font-family: 'AngieLove';
    color: red;
    text-align: center;
    font-size: 3rem;    
}

/* Carousel main */
.mainSec1, .mainSec2, .mainSec3 {    
    margin-top: 3vh;
    height: 85vh;
}

.carousel-item img {
    max-height: 82vh;
    width: auto;
}

/* Carousel secundario */
.slideFlexer {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
    width: 100%;
    padding: 3em;
    margin: 0 ;
}

.slideFlexer img {
    max-width: 18.75em;
    max-height: 18.75em;
    object-fit: contain;
    flex: 1 1 18.75em;
    background-color: black;
}

.redirImages {
    margin: 2vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 2vw;
    grid-auto-flow: row;
    grid-template-areas:
        "redirAbout redirStore";

    .redirAbout {
        grid-area: redirAbout;
        background-image: url(../img/forest\ bridge.jpg);
    }

    .redirStore {
        grid-area: redirStore;
        background-image: url(../img/forest\ bridge.jpg);
    }

}


/* MainSec3 */
.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 2vw;
    grid-auto-flow: row;
    grid-template-areas:
        "TL img TR"
        "TL img TR"
        "TL img TR";
    margin: 0 0 2vw 0;
}

.textDivider {
    grid-area: img;
    height: 635px;
    width: 770px;
}

.TL {
    text-align: right;
}

.mainSec4 {
    background-image: url(../img/forest\ bridge.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 705px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.mainSec4 {
    filter: grayscale(70%);
    transition: filter 0.5s ease, opacity 0.5s ease;
}

.mainSec4:hover {
    filter: grayscale(0%);
    opacity: 0.9;
}