/* Selector universal */
* {
    list-style-type: none;
}

/* General text deco */

@font-face {
    font-family: 'AngieLove';
    src: url('../fonts/angela-love-font-duo/AngelaLoveSans.woff') format('woff'),
         url('../fonts/angela-love-font-duo/AngelaLoveSansOutline.woff') format('woff');
    font-weight: normal;
    font-style: normal;    
}

ul li a {
    font-family: 'AngieLove';    
    text-decoration: none;
    color: inherit;
}

ul li a:hover {
    color: gray;
}

/* End general text deco */



/* Configs generales */

/* Header */
header {
    /* General */    
    background-color: black;
    color: whitesmoke;
    height: 12vh;
    border-bottom: 1px solid darkslategrey;
    /* Distribución */
    justify-content: center;
    align-items: center;
    /* Sticky */
    position: sticky;
    top: 0;
    z-index: 10;
    /* Grid */
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 5vw;
    grid-auto-flow: row;
    grid-template-areas:
        "logoMain column2 column3";
}

.logoMain {
    grid-area: logoMain;
    display: flex;
    align-items: center;
    justify-content: center;
}

header a img {
    width: 6em;
    height: 6em;
    border-radius: 50%;
}

header ul {
    grid-area: column2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6vw;
}

header ul li a {
    font-size: 1.8rem;
    padding: 5px 10px;
}

header div {
    grid-area: column3;
}

/* End Header */





/* Prefooter config */

.prefooter {
    /* General */
    background-color: black;
    color: darkslategray;
    padding: 8vh;
    height: 33.5vh;
    border-bottom: 1px solid darkslategrey;
    /* Grid */
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "logoSec column1 column2 subInput";    
}

.logoSec {
    border-radius: 50%;
    height: 20vh;
    margin: 0 0 0 10em;    
}

.subscribeInput {
    height: 2vh;
}

/* Da foot */
footer {
    height: 8vh;
    font-size: 0.8rem;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}