/* Selector universal */
* {
    list-style-type: none;
}

/* General text deco */
@font-face {
    font-family: 'AngieLove';
    src: url('../fonts/angela-love-font-duo/AngelaLoveSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;    
}
@font-face {
    font-family: 'AngieLoveOutline';
    src: url('../fonts/angela-love-font-duo/AngelaLoveSansOutline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.navLink {        
    color: darkslategrey;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    text-decoration: none;
    
}
.navLink:hover {
    color: gray;
}




.lisTitles {
    font-family: 'AngieLove';
    font-size: 1.5em;    
}
/* End general text deco */



/* Configs generales */

/* Header */
header {
    /* General */    
    background-color: black;
    color: whitesmoke;
    height: 12vh;
    border-bottom: 1px solid darkslategrey;
    /* Distribución */
    justify-content: center;
    align-items: center;
    /* Sticky */
    position: sticky;
    top: 0;
    z-index: 10;
    /* Grid */
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 5vw;
    grid-auto-flow: row;
    grid-template-areas:
        "logoMain column2 column3";
}

.logoMain {
    grid-area: logoMain;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoMain img {
    width: 5em;
    height: 5em;
    border-radius: 50%;
}

header ul {
    grid-area: column2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6vw;
}

header ul li a {
    font-size: 1.8rem;
    padding: 5px 10px;
    color: whitesmoke !important;
}

header div {
    grid-area: column3;
}

/* End Header */
/* Prefooter config */

.prefooter {
    /* General */
    background-color: black;
    color: darkslategray;
    padding: 8vh;
    height: 33.5vh;
    border-bottom: 1px solid darkslategrey;
    /* Grid */
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "logoSec column1 column2 subInput";    
}

.column1 p, .column2 p {
    margin: 0 0 0.5em 0;    
}
.column1 ul, .column2 ul {    
    padding: 0;
}
.column1 ul li, .column2 ul li {
    margin: 0 0 0.2em 0;
}

.logoSec {
    border-radius: 50%;
    height: 20vh;
    margin: 0 0 0 10em;    
}

/* Da foot */
footer {
    height: 8vh;
    font-size: 0.8rem;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}